-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
attrs==24.2.0; python_version >= '3.7'
django==5.1; python_version >= '3.10'
djangorestframework==3.15.2; python_version >= '3.8'
djangorestframework-simplejwt==5.3.1; python_version >= '3.8'
drf-spectacular==0.27.2; python_version >= '3.7'
inflection==0.5.1; python_version >= '3.5'
iniconfig==2.0.0; python_version >= '3.7'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
packaging==24.1; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pyjwt==2.9.0; python_version >= '3.8'
pytest==8.3.2; python_version >= '3.8'
pytest-django==4.8.0; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.35.1; python_version >= '3.8'
rpds-py==0.20.0; python_version >= '3.8'
sqlparse==0.5.1; python_version >= '3.8'
uritemplate==4.1.1; python_version >= '3.6'
